.git
.gitignore
.vscode
.idea
.history

node_modules
dist

backend/.venv
backend/__pycache__
backend/.pytest_cache
RAG/__pycache__

**/__pycache__
*.pyc

dataset
backend/tests
RAG/chroma_db
RAG/chat_history

.env
.env.*
!.env.docker

*.log
.DS_Store
Thumbs.db
